@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Lemon&family=Permanent+Marker&family=Rowdies:wght@300;400;700&display=swap');
body {
    font-family: "Roboto", sans-serif;
}
main{
  background: #202020;
}

header {
    background-color: #5855ee;
    color: white;
    /* position: sticky;
    top: 0; */
}

.links a {
    text-decoration: none;
    color: white;
}

.links li {
    list-style: none;
}

.linksSinDecoration {
    text-decoration: none;
    color: white;
}

.linksSinDecoration:hover{
    animation: tada; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}


#banner{
    background-image: url('img/banner-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
    box-shadow:inset 0 0 0 2000px rgba(176, 175, 175, 0.309);
}

#buscar{
    height: 350px;
  
    /* background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.movie-item {
    
    width: 200px;
    height: 300px;
    font-size: 20px;
    cursor: pointer;
    margin: 2rem;
}

.movie-item-img {
    width: 200px;
    height: 300px;
    border-radius: 30px;
    -o-object-fit: cover;
    object-fit: cover;
}



.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links li {
    margin: 0 1rem 0 1rem;
}

.links a {
    color: white;
    text-decoration: none;
}

.links a:hover {
    color: burlywood;
    text-decoration: underline;
}

.bgModal {
    background-color: #585353;
}

/* FOOTER */
footer{
    width: 100%;
    background: #202020;
    color: white;   
  }
  
  .container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
  }
  
  .container-body{
    display: flex;
    justify-content: space-between;
  }
  
  .colum1{
    max-width: 400px;
  }
  
  .colum1 h1{
    font-size: 22px;
  }
  
  .colum1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
  }
  
  .colum2{
    max-width: 400px;
    
  }
  
  .colum2 h1{
    font-size: 22px;
  }
  
  .row {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-content: center;
  }
  
  .row img{
    width: 50px;
    height: auto;
  }
  
  .row label{
    
    margin-top: -25px;
    margin-left: 46px;
    color: #C7C7C7;
  }
  
  
  .colum3{
    max-width: 400px;
  }
  
  .colum3 h1{
    font-size: 22px;
  }
  
  .row2{
    margin-top: 20px;
    display: flex;
  }
  
  .row2 img{
    width: 50px;
    height: auto;
  }
  
  .row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
  }
  
  .container-footer{
    width: 100%;  
    background: #101010;
  }
  
  .footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
  }
  
  .copyright{
    color: #C7C7C7;
  }
  
  .copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .information a{
    text-decoration: none;
    color: #C7C7C7;
  }
/* section */
  #section__principal{
    
			color: #fff;
			background: linear-gradient(45deg,red,blue,rgb(88, 9, 235),black);
			background-size: 400% 400%;
			position: relative;
			animation: cambiar 10s ease-in-out infinite;
		}
    @keyframes cambiar{
			0%{background-position: 0 50%;}
			50%{background-position: 100% 50%;}
			100%{background-position: 0 50%;}
		}

    .text__tendencias{
      text-align: center;
      color: #101010;
      font-family: "Lemon", serif;
      font-weight: 400;
      font-style: normal;
      
      
    }
    /* carrousel */
    
    .contenedor-titulo-controles {
      display: flex;
      justify-content: space-between;
      align-items: end;
    }
    
    .contenedor-titulo-controles h3 {
      color: #fff;
      font-size: 30px;
    }
    
    .contenedor-titulo-controles .indicadores button {
      background: #fff;
      height: 3px;
      width: 10px;
      cursor: pointer;
      border: none;
      margin-right: 2px;
    }
    
    .contenedor-titulo-controles .indicadores button:hover,
    .contenedor-titulo-controles .indicadores button.activo {
      background: red;
    }
    
    
    /* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
    .peliculas-recomendadas {
      margin-bottom: 70px;
    }
    
    .peliculas-recomendadas .contenedor-principal {
      display: flex;
      align-items: center;
      position: relative;
      width: 90%;
      margin: auto;
    }
    
    .peliculas-recomendadas .contenedor-principal .flecha-izquierda,
    .peliculas-recomendadas .contenedor-principal .flecha-derecha {
      position: absolute;
      border: none;
      background: rgba(0,0,0,0.3);
      font-size: 40px;
      height: 50%;
      top: calc(50% - 25%);
      line-height: 40px;
      width: 50px;
      color: #fff;
      cursor: pointer;
      z-index: 500;
      transition: .2s ease all;
    }
    
    .peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
    .peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
      background: rgba(0,0,0, .9);
    }
    
    .peliculas-recomendadas .contenedor-principal .flecha-izquierda {
      left: 0;
    }
    
    .peliculas-recomendadas .contenedor-principal .flecha-derecha {
      right: 0;
    }
    
    /* ---- ----- ----- Carousel ----- ----- ----- */
    .peliculas-recomendadas .contenedor-carousel {
      width: 100%;
      padding: 20px 0;
      overflow: hidden;
      scroll-behavior: smooth;
    }
    
    .peliculas-recomendadas .contenedor-carousel .carousel {
      display: flex;
      flex-wrap: nowrap;
    }
    
    .peliculas-recomendadas .contenedor-carousel .carousel .pelicula {
      min-width: 20%;
      transition: .3s ease all;
      box-shadow: 5px 5px 10px rgba(0,0,0, .3);
    }
    
    .peliculas-recomendadas .contenedor-carousel .carousel .pelicula.hover {
      transform: scale(1.2);
      transform-origin: center;
    }
    
    .peliculas-recomendadas .contenedor-carousel .carousel .pelicula img {
      width: 100%;
      vertical-align: top;
    }
    
    /* ---- ----- ----- Media Queries ----- ----- ----- */
    @media screen and (max-width: 800px) {
      header .logotipo {
        margin-bottom: 10px;
        font-size: 30px;
      }
    
      header .contenedor {
        flex-direction: column;
        text-align: center;
      }
    
      .pelicula-principal {
        font-size: 14px;
      }
    
      .pelicula-principal .descripcion {
        max-width: 100%;
      }
    
      .peliculas-recomendadas .contenedor-carousel {
        overflow: visible;
      }
    
      .peliculas-recomendadas .contenedor-carousel .carousel {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
      }
    
      .peliculas-recomendadas .indicadores,
      .peliculas-recomendadas .flecha-izquierda,
      .peliculas-recomendadas .flecha-derecha {
        display: none;
      }
    }