header {
    background-color: #5855ee;
    color: white;
}

.links a {
    text-decoration: none;
    color: white;
}

.links li {
    list-style: none;
}

.linksSinDecoration {
    text-decoration: none;
    color: white;
}

.linksSinDecoration:hover{
    animation: tada; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}

.movie-item {
    
    width: 200px;
    height: 300px;
    font-size: 20px;
    cursor: pointer;
    margin: 2rem;
}

.movie-item-img {
    width: 200px;
    height: 300px;
    border-radius: 30px;
    -o-object-fit: cover;
    object-fit: cover;
}
/* FOOTER */
footer{
    width: 100%;
    background: #202020;
    color: white;   
  }
  
  .container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
  }
  
  .container-body{
    display: flex;
    justify-content: space-between;
  }
  
  .colum1{
    max-width: 400px;
  }
  
  .colum1 h1{
    font-size: 22px;
  }
  
  .colum1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
  }
  
  .colum2{
    max-width: 400px;
    
  }
  
  .colum2 h1{
    font-size: 22px;
  }
  
  .row {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-content: center;
  }
  
  .row img{
    width: 50px;
    height: auto;
  }
  
  .row label{
    
    margin-top: -25px;
    margin-left: 46px;
    color: #C7C7C7;
  }
  
  
  .colum3{
    max-width: 400px;
  }
  
  .colum3 h1{
    font-size: 22px;
  }
  
  .row2{
    margin-top: 20px;
    display: flex;
  }
  
  .row2 img{
    width: 50px;
    height: auto;
  }
  
  .row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
  }
  
  .container-footer{
    width: 100%;  
    background: #101010;
  }
  
  .footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
  }
  
  .copyright{
    color: #C7C7C7;
  }
  
  .copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .information a{
    text-decoration: none;
    color: #C7C7C7;
  }
  /* tendencias background */
 
.burbujas{
    background: #2c29dd;
}